$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.sign-out-btn {
  clear: both;
  float: right;
  vertical-align: top;
}

.navbarcustom {
  overflow: hidden;
  white-space: nowrap;
}
