$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-top: 50px;
}
table {
  border-collapse: collapse;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  width: 50%;
  margin-left: 25%;
  margin-right: 25;
  margin-top: auto;
}

td {
  width: 15%;
  height: 15%;
  border: 0px solid #546363;
  border-right-width: 6px;
  border-bottom-width: 6px;
  text-align: center;
  font-size: 80px;
  cursor: crosshair;
  position: relative;
}

td:nth-child(3) {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}

.board-container {
  display: none;
}

.catwin {
  text-align: center;
}

.game-board {
  align-items: center;
  position: relative;
  top: 0;
  clear: both;
}
.game-cell {
  overflow: hidden;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dummy-board {
  display: show;
  clear: right;
  vertical-align: bottom;
  float:left;
}
.sign-out-btn-form {
  bottom: 5px;
  clear: both;
  float: right;
  vertical-align: bottom;
}

.sign-out-button {
  display: none;
}

.navbarcustom {
  overflow: hidden;
  white-space: nowrap;
}

.create-game {
  display: none;
}

.reset-button {
  display: none;
}


.change-password {
  display: none;
}

.x {
  color: #455c7b;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.o {
  color: #ac6c82;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

td.x:hover, td.o:hover { background:transparent !important }
//
// .wrapper {
//   display: grid;
//   grid-template-rows: auto;
//   grid-gap: 0px;
//   background-color: #fff;
//   color: #444;
//   float:left;
// }
// .a{
//         grid-column: 1 ;
//         grid-row: 1;
// }
// .b {
//   grid-column: 2 ;
//   grid-row: 1;
// }
// .c {
//   grid-column: 3;
//   grid-row: 1;
// }
// .d {
//   grid-column: 4;
//   grid-row: 1;
// }
// td.hover-0:after, td.hover-1:after {
//   content:"X";
//   display:block;
//   pointer-events:none;
//   position:relative;
//   text-align:center;
//   vertical-align:center;
//   font-size:80px;
//   color:#546363;
//   font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
//   opacity:0.4;
// }
// td.hover-1:after {
//   content:"O";
//   font-family: Futura, "Trebuchet MS", Arial, sans-serif;
// }
//
// td.X.hover-0:after, td.X.hover-1:after,
// td.O.hover-0:after, td.O.hover-1:after {
//   display:none !important;
// }
