$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-top: 50px;
}
table {
  border-collapse: collapse;
  padding: 0;
  position: relative;
  vertical-align: bottom;
  height: 250px;
  width: 250px;
  // width: 50%;
  // margin-left: 25%;
  // margin-right: 25%;
  margin-top: 50px;
}

td {
  width: 75px;
  height:75px;
  border: 0px solid #546363;
  border-right-width: 6px;
  border-bottom-width: 6px;
  text-align: center;
  font-size: 80px;
  cursor: crosshair;
  position: relative;
}

td:nth-child(3) {
  border-right-width: 0;
}

tr:last-child td {
  border-bottom-width: 0;
}
.banner {
  text-align: center;
  margin: 25px;
}
.footer {
  position: fixed;
  color: #9d9d9d;

  bottom: 0;
  background-color: black;
  height: 50px;
  width: 100%;
  left: 0;
  text-align: center;
  vertical-align: baseline;
}
.board-container {
  display: none;
}

.catwin {
  text-align: center;
}

.game-board {
  align-items: center;
  position: relative;
  top: 0;
  clear: both;
}
.game-cell {
  overflow: hidden;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.dummy-board {
  display: show;
}
.sign-out-btn-form {
  margin: 10px;
  position: relative;
  text-align: center;
  vertical-align: bottom;
}

.sign-out-button {
  display: none;
  position: fixed;
  bottom: 50px;
}

.img {
  clear: both;
}

.navbarcustom {
  overflow: hidden;
  white-space: nowrap;
}

.create-game {
  display: none;
}

.greeting {
  color: #9d9d9d;
}

.stats {
  border-right: 2px solid black;
  font-size: 8px;
  height: 10px;
}

.stats:nth-child(4) {
  font-size: 8px;
  border: none;
}

.change-password {
  display: none;
}

.x {
  color: #455c7b;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.o {
  color: #ac6c82;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

td.x:hover, td.o:hover { background:transparent !important }
